* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #121214;
    margin: 0 auto;
    height: 71px;
}

.container__nav {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 97px;
    height: 30px;
    margin-right: 29px;
    margin-left: 20px;
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    gap: 20px; 
}

.list-item {
    text-decoration: none;
    color: #A6A8AD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.button {
    margin-right: 85px;
    margin-top: 17px;
    height: 35px;
    width: 95px;
    border-radius: 35px;
}

.section {
    background-color: #000;
    width: 100%;
    height: 744px;
}

.section__first {
    padding-top: 186px;
    padding-left: 48px;
}

.section__first-title {
    color: #fff;
    font-size: 72px;
    font-family: 'Roboto', sans-serif;
    width: 513px;
    height: 250px;
    letter-spacing: 1px;
}

.section__first-subtitle {
    margin-top: 26px;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    width: 412px;
    height: 48px;
}

.section__first-btn {
    background-color: #0033FF;
    color: #fff;
    margin-top: 44px;
    width: 125px;
    height: 56px;
    border-radius: 8px;
}

.section__second{
    background-color: #000;
}

.section__second-about {
    padding-top: 29px;
    color: #fff;
}

.about {
    width: 499px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.content {
    display: flex;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #000;
    margin-top: 78px;
}

.content-left {
    width: 50%;
}

.content-right {
    width: 50%;
}

.section__second-title {
    width: 441px;
    height: 36px;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    margin-top: 127px;
    margin-bottom: 12px;
}

.section__second-subtitle {
    width: 374px;
    height: 48px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 18px;
}

.section__second-btn {
    background-color: #0033FF;
    border-radius: 8px;
    width: 159px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.right-img {
    width: 711px;
    height: 386px;
}